.nav-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  background-color: #831902;
  position: fixed;
}

.nav-wrapper {
  background-color: #b51919;
  width: 75%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 15px;
  flex-direction: column;
}

.prod-img {
  width: 85%;
  height: auto;
}

.prod-link {
  text-decoration: none;
  margin-top: 20px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1c1c1c;
  height: 54px;
  color: #f9f9f9; /* Added color to the link */
  transition: background-color 0.3s ease; /* Added transition */
}

.prod-link:hover {
  background-color: #f9f9f9;
}

.prod-link:hover .prod-text {
  color: #1c1c1c;
}

.prod-text {
  text-decoration: none;
  font-weight: 600;
}

.prod-link2 {
  text-decoration: none;
  margin-top: 10px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1c1c1c;
  height: 54px;
  color: #f9f9f9; 
  transition: background-color 0.3s ease;
}

.prod-link2:hover {
  background-color: #f9f9f9;
}

.prod-link2:hover .prod-text {
  color: #1c1c1c;
}
